div.sidebar {
	top: 0;
	left: 0;
    position: fixed;
	width: 125px;
	height: 100%;
	background: gray;
	font-size: 13pt;
	color: white;
	line-height: 2;
}

div.sidebar p {
	margin-left: 10px;
}

div.sidebar a:link {
	color:white
}

div.sidebar a:visited {
    color: white;
}

div.content {
	margin-left: 15%;
	height: 100vh;
}

div.content a:link {
    color: navy;
}

div.content a:visited {
    color: navy;
}	

